@font-face {
    font-family: 'NotoSansCJK-Bold';
    src: url('./NotoSansCJK-Bold-6.otf');
}
@font-face {
    font-family: 'HNotoSansCJK-Regular';
    src: url('./NotoSansCJK-Regular-1.otf');
}