@font-face {
    font-family: 'NotoSansCJK-Bold';
    src: url('./SOURCEHANSANSSC-BOLD_0.OTF');
}
@font-face {
    font-family: 'HNotoSansCJK-Regular';
    src: url('./SOURCEHANSANSSC-REGULAR_0.OTF');
}
@font-face {
    font-family: 'SourceHanSansSC-Heavy';
    src: url('./SOURCEHANSANSSC-HEAVY_0.OTF');
}



@font-face {
    font-family: 'HiraginoSansGB-W3';
    src: url('./HIRAGINOSANSGB-W3.OTF');
}
@font-face {
    font-family: 'SourceHanSansSC-Medium';
    src: url('./SOURCEHANSANSSC-MEDIUM_0.OTF');
}
@font-face {
    font-family: 'SourceHanSansCN-Medium';
    src: url('./SOURCEHANSANSCN-MEDIUM_0.OTF');
}